<!DOCTYPE html>
<html>
    <head>
        <title>מערכת ניהול שיעורים</title>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="http://127.0.0.1:8000/src/main.js"></script>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/src/main.css">
    </head>
    <body>
            
        <div class="miniBox">
            <div class="section" style="text-align: right;">
                <img src="src/profile.png" style="width: 100px;" class="">
            </div>
            <div class="section" style="text-align: right;">
                <input type="text" class="button-23"  id="username_login"   placeholder="שם משתמש" />
            </div>
            <div class="section" style="text-align: right;">
                <input type="password" class="button-23"  id="password_login"  placeholder="סיסמה" />
            </div>
            <div class="section" style="text-align: right;">
                <button  class="button-23" id="loginSend">התחברות</button>
            </div>
        
        </div>
